body{
    background-color:  #1d000d;
}
h2{
    color: rgb(221, 69, 13);
}
p{
    color: white;
}
#Search-btn{
    color: white;
    background-color: coral;
}
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  
}
.myStyle {
    border: 1px solid coral;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 15px rgb(110, 105, 105);
    border-radius: 10px;
    text-align: center;
    
}

.details-style {
    margin: 0 auto;
    width: 500px;
    box-shadow: 1px 1px 15px #575353;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid coral;
    background-color: rgb(105, 53, 53);
  
    

}
@media screen and (max-width: 580px) {
    /* .heading {
        font-size: 25px;
    } */


body {
padding: 0;
}

#container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 10px;

    }
}

